<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>숙소등록</title>
    <link rel="stylesheet" type="text/css" href="css/allseller.css" />
    <link rel="stylesheet" type="text/css" href="css/accRegist.css" />
    <link rel="stylesheet" type="text/css" href="css/sellmenu.css" />
</head>

<body>
<th:block th:replace="~{fragments/selmenu :: nav}"></th:block>
<form id="accRegisterForm" method="post" enctype="multipart/form-data" class="mainsection">
    <input type="hidden" name="id" th:value="${session.id}">
    <input type="hidden" name="onSale" value="1">
    <input type="hidden" name="loadedAccomNum" id="loadedAccomNum" th:value="${acmd?.accomNum?:0}">
    <p id="loadedAccName" th:text="${acmd?.accName?:_}" style="display : none"></p>
    <input type="hidden" name="regDate" th:value="${#dates.format(#dates.createNow(),'yyyy-MM-dd')}">
    <fieldset>
        <legend>상품명</legend>
        <input type="text" name="accName" th:value="${acmd?.accName?:_}" maxlength="30" required
               style="width : 100%; border : none; outline : none; text-align : center; font : 24px; font-size : 24px;">
    </fieldset>
    <fieldset>
        <legend>요금 설정</legend>
        <div class="flex-container">
            <!-- 왼쪽 섹션: 기본 요금 및 인원 제한 -->
            <table class="left-section">
                <tr>
                    <td><label>기본 요금</label></td>
                    <td><input type="number" name="price" min="0" max="999999999" step="1000"
                               th:value="${acmd?.price?:0}" maxlength="8"
                               required></td>
                </tr>
                <tr>
                <td><label>기본 인원 제한</label></td>
                <td><input type="number" name="occ" min="0" max="999999999" step="1" th:value="${acmd?.occ?:0}"
                           required></td>
                </tr>
            </table>

            <!-- 오른쪽 섹션: 초과 요금 및 최대 인원 -->
            <table class="right-section">
                <tr>
                    <td><label>초과 인원 요금 (대인)</label></td>
                    <td>
                        <input type="number" name="adultPrice" min="0" max="999999999" step="1000"
                               th:value="${acmd?.adultPrice?:0}">
                    </td>
                </tr>
                <tr>
                    <td><label>초과 인원 요금 (소인)</label></td>
                    <td>
                        <input type="number" name="kidPrice" min="0" max="999999999" step="1000"
                               th:value="${acmd?.kidPrice?:0}"></td>
                </tr>
                <tr>
                    <td><label>최대 초과 인원</label></td>
                    <td>
                        <input type="number" name="maxocc" min="0" max="999999999" step="1"
                               th:value="${acmd?.maxocc?:0}"
                               placeholder="기본 인원 포함하여 작성해주세요"></td>
                </tr>
            </table>
        </div>
    </fieldset>

    <fieldset>
        <legend>숙소 정보</legend>
        <div class="flex-container">
            <!-- 왼쪽: 이미지 업로드 -->
            <div class="left-section">
                <div style="overflow: hidden; white-space: nowrap;">
                    <legend style="text-align : center; background-color: #8dbf3d;"> 이미지 삽입
                        <div class="file-upload-wrapper">
                            <input type="file" name="imageUpload" class="file-upload" id="imageUpload" accept="image/*"
                                   multiple>
                            <label for="imageUpload" class="file-upload-label">파일 선택</label>
                        </div>
                        <button class="navigation-button" id="prevButton" type="button">이전</button>
                        <button class="navigation-button" id="nextButton" type="button">다음</button>
                    </legend>
                    <img id="previewImage" class="preview-image" src="#" alt="이미지 미리보기">
                </div>
            </div>

            <!-- 오른쪽: 숙소 전화번호, 판매유형, 카테고리 -->
            <div class="right-section">
                <fieldset>
                    <table>
                        <tr>
                            <td><label>숙소 전화번호</label></td>
                            <td><input type="tel" name="accCall" th:value="${acmd?.accCall?:_}">
                            </td>
                        </tr>
                        <tr>
                            <td><label>카테고리</label></td>
                            <td><input type="text" name="category" list="categorylist"
                                       th:value="${acmd?.category?:_}">
                            <datalist id="categorylist">
                                <option>바다</option>
                                <option>산</option>
                                <option>섬</option>
                                <option>도시</option>
                            </datalist>
                            </td>
                        </tr>
                        <tr>
                            <td><label>체크인 시간</label></td>
                            <td><input type="time" name="chkin_Time" th:value="${chkin?:'14:00'}"></td>
                        </tr>
                        <tr>
                            <td><label>체크아웃 시간</label></td>
                            <td><input type="time" name="chkout_Time" th:value="${chkout?:'12:00'}"></td>
                        </tr>
                        <tr>
                            <td><label>침실 수</label></td>
                            <td><input type="number" name="room" min="1" max="999999999" step="1"
                                       th:value="${acmd?.room?:1}"></td>
                        </tr>
                        <tr>
                            <td><label>침대 수</label></td>
                            <td><input type="number" name="bed" min="1" max="999999999" step="1"
                                       th:value="${acmd?.bed?:1}"></td>
                        </tr>
                        <tr>
                            <td><label>화장실 수</label></td>
                            <td><input type="number" name="bathroom" min="1" max="999999999" step="1"
                                       th:value="${acmd?.bathroom?:1}">
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </div>
        </div>
        <br>
        <fieldset>
            <legend>판매 유형</legend>
            <div class="radio-group">
                <label><input type="radio" name="accType" value="게스트하우스"
                              th:checked="${acmd?.accType == '게스트하우스'}"><span>게스트하우스</span></label>
                <label><input type="radio" name="accType" value="펜션"
                              th:checked="${acmd?.accType == '펜션'}"><span>펜션</span></label>
                <label><input type="radio" name="accType" value="호텔"
                              th:checked="${acmd?.accType == '호텔'}"><span>호텔</span></label>
                <label><input type="radio" name="accType" value="캠핑장"
                              th:checked="${acmd?.accType == '캠핑장'}"><span>캠핑장</span></label>
                <label><input type="radio" name="accType" value="풀빌라"
                              th:checked="${acmd?.accType == '풀빌라'}"><span>풀빌라</span></label>
            </div>
        </fieldset>
        <fieldset>
            <legend>휴일</legend>
            <div class="day">
            <input type="checkbox" id="sunday" name="day" value="7">
            <label for="sunday">일</label>
            <input type="checkbox" id="monday" name="day" value="1">
            <label for="monday">월</label>
            <input type="checkbox" id="tuesday" name="day" value="2">
            <label for="tuesday">화</label>
            <input type="checkbox" id="wednesday" name="day" value="3">
            <label for="wednesday">수</label>
            <input type="checkbox" id="thursday" name="day" value="4">
            <label for="thursday">목</label>
            <input type="checkbox" id="friday" name="day" value="5">
            <label for="friday">금</label>
            <input type="checkbox" id="saturday" name="day" value="6">
            <label for="saturday">토</label>
            </div>
        </fieldset>
        <!-- 주소 입력 필드 -->
        <div>
            <legend>숙소 주소</legend>
            <input type="text" id="postcode" placeholder="우편번호" name="postcode" th:value="${acmd?.postcode?:_}"
                   readonly
                   style="width: calc(90% - 100px);" required>
            <input type="button" onclick="execDaumPostcode()" value="우편번호 찾기" style="width : 100px"><br>
            <input type="text" id="address" placeholder="주소" name="address" style="width : 100%"
                   th:value="${acmd?.address?:_}" readonly required><br>
            <input type="text" id="detailAddress" name="detailAddress" style="width : 100%; border : 1px solid #B2D055"
                   th:value="${acmd?.detailAddress?:_}" placeholder="상세주소" required><br>
            <div id="wrap"
                 style="display:none;border:1px solid;width:500px;height:300px;margin:5px 0;position:relative">
                <img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnFoldWrap"
                     style="cursor:pointer;position:absolute;right:0px;top:-1px;z-index:1"
                     onclick="foldDaumPostcode()"
                     alt="접기 버튼">
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>상세소개</legend>
        <textarea name="informtext" rows="20" cols="50" th:text="${acmd?.informtext?:_}"></textarea>
    </fieldset>
    <fieldset>
        <legend>숙소규칙</legend>
        <textarea name="accomRule" rows="10" cols="50" th:text="${acmd?.accomRule?:_}"></textarea>
    </fieldset>

    <fieldset style="border : none;">
        <div class="button-container">
            <input type="submit" id="registerUpdate" value="등록하기" style="width : 30%">
            <input type="submit" id="stopReservation" value="수정하기" style="width : 30%">
            <input type="submit" id="deleteAccommodation" value="숙소삭제" style="width : 30%">
        </div>
    </fieldset>
</form>

<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    // 우편번호 찾기 찾기 화면을 넣을 element
    var element_wrap = document.getElementById('wrap');

    function foldDaumPostcode() {
        // iframe을 넣은 element를 안보이게 한다.
        element_wrap.style.display = 'none';
    }

    function execDaumPostcode() {
        // 현재 scroll 위치를 저장해놓는다.
        var currentScroll = Math.max(document.body.scrollTop, document.documentElement.scrollTop);
        new daum.Postcode({
            oncomplete: function (data) {
                // 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수

                // 사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('postcode').value = data.zonecode;
                document.getElementById("address").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("detailAddress").focus();

                // 상세주소 입력 가능하도록 설정
                document.getElementById("detailAddress").removeAttribute("readonly");

                // iframe을 넣은 element를 안보이게 한다.
                // (autoClose:false 기능을 이용한다면, 아래 코드를 제거해야 화면에서 사라지지 않는다.)
                element_wrap.style.display = 'none';

                // 우편번호 찾기 화면이 보이기 이전으로 scroll 위치를 되돌린다.
                document.body.scrollTop = currentScroll;
            },
            // 우편번호 찾기 화면 크기가 조정되었을때 실행할 코드를 작성하는 부분. iframe을 넣은 element의 높이값을 조정한다.
            onresize: function (size) {
                element_wrap.style.height = size.height + 'px';
            },
            width: '100%',
            height: '100%'
        }).embed(element_wrap);

        // iframe을 넣은 element를 보이게 한다.
        element_wrap.style.display = 'block';
    }
</script>
<script>
    document.querySelectorAll('input[type="number"]').forEach(function(e) {
        e.addEventListener('input', function() {
            const maxValue = 999999999;
            if (this.value > maxValue) {
                alert('최대 숫자는 ' + maxValue + '입니다.');
                this.value = maxValue;
            }
        });
    });
</script>
<script>
    const form = document.getElementById('accRegisterForm');
    const registerUpdateButton = document.getElementById('registerUpdate');
    const stopReservationButton = document.getElementById('stopReservation');
    const deleteAccommodationButton = document.getElementById('deleteAccommodation');

    function validateForm(event, actionUrl) {
        const occ = Number(document.querySelector('input[name="occ"]').value) || 0;
        const maxocc = Number(document.querySelector('input[name="maxocc"]').value) || 0;
        document.querySelector('input[name="maxocc"]').value=maxocc;
        if (maxocc < occ && maxocc !== 0) {
            alert('최대 초과 인원수는 기본 인원 제한보다 커야 합니다.');
            event.preventDefault(); // 기본 폼 제출 방지
            return;
        }

        if (!form.checkValidity()) {
            alert('필수 항목을 모두 입력해주세요.');
            event.preventDefault(); // 기본 폼 제출 방지
            return;
        }

        // 유효성 검사를 통과하면 action 설정 후 제출
        form.action = actionUrl;
        form.submit();
    }

    // 등록하기 버튼
    registerUpdateButton.addEventListener('click', function(event) {
        alert("저장하시겠습니까?");
        validateForm(event, "/accUpload");
    });

    // 수정하기 버튼
    stopReservationButton.addEventListener('click', function(event) {
        if(document.getElementById('loadedAccomNum').value != 0){
        alert("수정하시겠습니까?");
        validateForm(event, "/accUpdate");
        } else {
        alert("저장하시겠습니까?");
        validateForm(event, "/accUpload");
        }
    });

    // 삭제 버튼
    deleteAccommodationButton.addEventListener('click', function(event) {
        let deletethis = document.getElementById("loadedAccName").textContent;
        let lastconfirm = window.confirm(deletethis + ' 삭제하시겠습니까?');
        if (!lastconfirm) {
            event.preventDefault(); // 기본 폼 제출 방지
            return;
        }
        form.action = "/accDelete";
        form.submit();
    });
</script>
<script>
    const imageUpload = document.getElementById('imageUpload');  // 파일 선택 input
    const previewImage = document.getElementById('previewImage');  // 미리보기 이미지 태그
    const prevButton = document.getElementById('prevButton');  // 이전 버튼
    const nextButton = document.getElementById('nextButton');  // 다음 버튼

    let images = [];  // 선택된 이미지들을 저장할 배열
    let currentIndex = 0;  // 현재 보여주는 이미지의 인덱스

    // 파일 선택 시 실행되는 함수
    imageUpload.addEventListener('change', function (event) {
        const files = event.target.files;

        // 파일이 선택된 경우에만 실행
        if (files.length > 0) {
            images = [];  // 기존 이미지 배열 초기화

            // FileList를 배열로 변환하여 이미지 파일들을 저장
            Array.from(files).forEach(file => {
                const reader = new FileReader();

                // 파일이 읽히면 실행되는 함수
                reader.onload = function (e) {
                    images.push(e.target.result);  // 파일의 Data URL을 배열에 추가

                    // 첫 번째 이미지를 미리보기로 설정
                    if (images.length === 1) {
                        previewImage.src = images[0];  // 첫 번째 이미지 표시
                        previewImage.style.display = 'block';  // 미리보기 이미지 보이기
                        prevButton.style.display = 'inline-block';  // 이전 버튼 표시
                        nextButton.style.display = 'inline-block';  // 다음 버튼 표시
                    }
                };

                reader.readAsDataURL(file);  // 파일을 읽어서 Data URL로 변환
            });
        }
    });

    prevButton.addEventListener('click', function (event) {
        event.preventDefault(); // 기본 동작 방지
        currentIndex = (currentIndex - 1 + images.length) % images.length;
        previewImage.src = images[currentIndex];
    });

    nextButton.addEventListener('click', function (event) {
        event.preventDefault(); // 기본 동작 방지
        currentIndex = (currentIndex + 1) % images.length;
        previewImage.src = images[currentIndex];
    });
</script>
</body>

</html>