<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="allseller.css" />
    <link rel="stylesheet" type="text/css" href="sellmenu.css" />
    <link rel="stylesheet" type="text/css" href="myAcc.css" />
</head>
<body>
<th:block th:replace="~{fragments/selmenu :: nav}"></th:block>
<section class="mainsection">
    <h1>
        <form class="search-bar" action="/searchmine" method="post" style="display : inline-block"><input type="text" name="key" placeholder="상품 검색"/><button type="submit"><img id="searchButton" src="../images/search-button.png"></button></form>
        <button onclick="saleNotsale()" class="toolbtn">판매변경</button>
        <button onclick="deletelist()" class="toolbtn">삭제</button>
    </h1>
    <table>
        <thead>
        <tr>
            <th class="tableNarrow"><input type="checkbox" id="allcheck" onclick="allcheck()"></th>
            <th class="tableNarrow">No</th>
            <th>상품명</th>
            <th class="tableWide">주소</th>
            <th>기본요금/인원</th>
            <th>추가요금/인원</th>
            <th class="tableNarrow">유형</th>
            <th>카테고리</th>
            <th>상태</th>
        </tr>
        </thead>
        <th:block th:if="${mylist}">
            <tbody id="myacclist" th:each="acc, no : ${mylist}">
            <tr th:class="${no.count % 2 == 0} ? 'even-row' : 'odd-row'"
                th:onclick="goRegister(event, [[${acc.id}]],[[${acc.accomNum}]])">
                <td class="tableNarrow"><input type="checkbox" onclick="event.stopPropagation();" th:attr="data-check=${acc.accomNum}"></td>
                <td class="tableNarrow"><span th:text="${no.count}"></span></td>
                <td><span th:text="${acc.accName}"></span></td>
                <td class="tableWide" style="font-size : 12px;"><span th:text="|${acc.address} ${acc.detailAddress}|"></span></td>
                <td style="font-size : 12px;"><span th:text="|${#numbers.formatInteger(acc.price,3,'COMMA')}원|"></span><br><span
                        th:text="|기본 : ${acc.occ}명, 최대: ${acc.maxocc}명|"></span></td>
                <td style="font-size : 12px;"><span th:if="${acc.adultPrice != 0}"  th:text="|성인 : ${#numbers.formatInteger(acc.adultPrice,3,'COMMA')}|"></span><br><span
                        th:if="${acc.kidPrice != 0}" th:text="|어린이 : ${#numbers.formatInteger(acc.kidPrice,3,'COMMA')}|"></span>
                </td>
                <td class="tableNarrow"><span th:text="${acc.accType}"></span></td>
                <td><span th:text="${acc.category}"></span></td>
                <td><span th:switch="${acc.onSale}"><span th:case="1">판매중</span><span th:case="0">판매중지</span></span>
                </td>
            </tr>
            </tbody>
        </th:block>
    </table>
</section>
<script>
    function goRegister(event, id, accomNum){
        window.alert("잘되냐?"+id+accomNum);
        const form = document.createElement('form');
        form.setAttribute('method','post');
        form.setAttribute('action', '/accLoad');

        /* const data1 = document.createElement('input');
        data1.setAttribute('type','hidden');
        data1.setAttribute('name','id');
        data1.setAttribute('value',id);
         */
        const data2 = document.createElement('input');
        data2.setAttribute('type','hidden');
        data2.setAttribute('name','accomNum');
        data2.setAttribute('value', accomNum);

        //form.appendChild(data1);
        form.appendChild(data2);

        document.body.appendChild(form);
        form.submit();
    }
</script>
<script>
    function allcheck(){
        if(document.getElementById('allcheck').checked){
        document.querySelectorAll('[data-check]').forEach(function(element){element.checked=true;});
        }
        else {
        document.querySelectorAll('[data-check]').forEach(function(element){element.checked=false;});
        }
    }
</script>
<script>
    //체크된 항목 배열 만들기
    let list= [];
    function chklist(){
    list=[];
    let acclist = document.querySelectorAll('[data-check]')
        for(let delem of acclist){
           if(delem.checked)
           list.push(delem.getAttribute('data-check'));
           }
        if (list.length === 0) {
        alert("수정할 항목을 선택해주세요.");
        return false;
        }
        return true;
    }
    //체크 항목 일괄 삭제
    function deletelist(){
        if(!chklist()){ return;}
        if(!confirm(list.length+"개 선택하셨습니다. 정말로 삭제하시겠습니까?")){return;}
        const dform = document.createElement('form');
        dform.setAttribute('method','post');
        dform.setAttribute('action', '/accDeletelist');
        let dlist=list;
        const dinput = document.createElement('input');
        dinput.setAttribute('type','hidden');
        dinput.setAttribute('name','dlist');
        dinput.setAttribute('value', dlist.join(','));

        dform.appendChild(dinput);
        document.body.appendChild(dform);
        dform.submit();
    }
    //체크 항목 일괄 판매변경
    function saleNotsale(){
        if(!chklist()){ return;}
        if(!confirm(list.length+"개 선택하셨습니다. 수정하시겠습니까?")){return;}
        const sform = document.createElement('form');
        sform.setAttribute('method','post');
        sform.setAttribute('action', '/accSalelist');
        let slist = list;
        const sinput = document.createElement('input');
        sinput.setAttribute('type','hidden');
        sinput.setAttribute('name','slist');
        sinput.setAttribute('value', slist.join(','));
        sform.appendChild(sinput);
        document.body.appendChild(sform);
        sform.submit();
    }
</script>
</body>
</html>